{% extends "base_generic.html" %}

{% block content %}
  <h1>Empresa: {{ empresa.nombre }}</h1>

  <p><strong>ID:</strong> {{ empresa.id }}</p>
  <p><strong>Tipo ID:</strong> {{ empresa.tipoId }}</p>
  <p><strong>Dirección:</strong> {{ empresa.direccion }}</p>
  <p><strong>Ubicación:</strong> {{ empresa.ciudad }} - {{ empresa.pais }}</p>

  <button><a href="{% url 'empresa-update' empresa.id %}">Editar</a></button>
  <button><a href="{% url 'empresa-delete' empresa.id %}">Eliminar</a></button>
{% endblock %}