{% extends "base_generic.html" %}

{% block content %}
  <h1>Manifiesto: {{ manifiesto.numero }}</h1>
  <p>{{ manifiesto.tipo }}</p>

  <p><strong>Conductor:</strong><a href="{{ manifiesto.conductor.get_absolute_url }}"> {{ manifiesto.conductor }}</a></p>
  <p><strong>vehiculo:</strong><a href="{{ manifiesto.vehiculo.get_absolute_url }}"> {{ manifiesto.vehiculo }}</a></p>
  <!-- enlace de detalle del autor aún no definido -->
  <p><strong>Cartaporte:</strong><a href="{{ manifiesto.cartaporte.get_absolute_url }}"> {{ manifiesto.cartaporte }}</a></p>
  <p><strong>Fecha de emisión:</strong> {{ manifiesto.fecha_emision }}</p>

  <button><a href="{% url 'manifiesto-update' manifiesto.numero %}">Editar</a></button>
  <button><a href="{% url 'manifiesto-delete' manifiesto.numero %}">Eliminar</a></button>
{% endblock %}